<div class="container mb-20">
  <div class="container">
    <div class="row">
        <div class="col-auto">
            <div class="card">
                <div class="text-center">
                    <h1>ERS Login</h1>
                </div>
                <form>
                    <div class="mb-3 col-auto">
                        <label for="exampleUserName1" class="form-label">Email:</label>
                        <input type="username" class="form-control" id="exampleInputUserName1"
                            aria-describedby="emailHelp" name="email" placeholder="email@email.com" [(ngModel)]="email">
                        <div id="usernameHelp" class="form-text"></div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Password:</label>
                        </div>
                        <div class="col-auto">
                            <input type="password" id="inputPassword6" class="form-control" placeholder="password"
                                aria-describedby="passwordHelp" name="password" [(ngModel)]="password">
                        </div>
                        <!-- <div class="col-auto">
                             <span id="passwordHelpInline" class="form-text">
                                Must be 8-20 characters long.
                            </span> 
                        </div> -->
                        <div class="col-auto">
                            <button
                            type="button"
                            class="btn btn-dark mb-3"
                            (click)="performLogin()">Login</button>
                
                        <button type="button" class="btn btn-dark mb-3" data-bs-toggle="tooltip" title="Don't share your password with ANYONE!">REMINDER</button>
                      </div>
                      </div>
              </form>
            </div>
        </div>
    </div>
</div>


</div>


<!-- OTHER OPTION FOR LOGIN-->
<!-- <h3> WELCOME TO THE ERS</h3>

<form>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" name="email" [(ngModel)] = "email">
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" name="password" [(ngModel)] = "password">
    </div>
  </div>
    <div class="form-group form-check">
    </div>
        <button type="submit" class="btn btn-dark" (click)="performLogin()">LOGIN</button>
  </form> -->

  